
*{
    margin: 0px;
    padding: 0px;
}


body{
     background-color: darkolivegreen;
     font-family: Arial, Helvetica, sans-serif;
 }
 
 #container{
     width: 1100px;
     margin: 0px auto;
     border: 4px solid whitesmoke;


}

header{
    background: black;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    color: darkolivegreen;
    border-bottom-left-radius: 4px dashed white;
}

nav{
    background: black;
    height: 50px;
    line-height: 30px;
    border-bottom:3px solid darkolivegreen;

}

nav ul li{
    float:right;
    list-style:none;
    margin: 10px;
   
    
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: cal(90% - 90%);
    min-height: 500px;
    background: darkolivegreen;
    border-bottom: 3px solid darkolivegreen;
}

.article{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 5px solid gray;
}
.article:first-child{
    padding-top: 10px;
    border-top: 1px solid gray
}

.article h2{
    font-size: 25px;
}

aside{
    float: left;
    width: cal(10% - 10%);
    min-height: 500px;
    background: darkolivegreen;
    border-bottom: 1px solid black;
    padding : 10px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
    